# Python
__pycache__/
*.py[cod]
*.class
venv/
.venv/
.env

# Node / JS
node_modules/
dist/

# System / IDE
.DS_Store
.vscode/
.idea/



*.pyc
db.sqlite3
staticfiles/

# Large data/logs
*.log
*.sqlite3
